<!-- app/views/user_mailer/set_initial_password_email.html.erb -->

<p>Hi <%= @user.first_name %>,</p>
<p>You have successfully signed up. To set your password, please click the link below:</p>
<p>
    <a href="<%= "https://sambayanansowshare.onrender.com/set-initial-password/#{@token}" %>">Set Password</a>
</p>
